*{
    box-sizing: border-box;
    margin: 0;
    
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.main{
    background: rgb(251,199,141);
    background-image: linear-gradient(to top, #f9e2ae, #f9dda7, #f9d8a0, #fad39a, #face94, #face94, #face94, #face94, #fad39a, #f9d8a0, #f9dda7, #f9e2ae);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar-logo{
    max-width: 100%;
    max-height: 100%;
}
.logo{
    height: 112.5px;
    width: 200px;
}
.tab{
    display: flex;
    gap: 16px;   
}

.info-one{
    display: flex;
    margin: 15px;
}
.left-section, .main-text{
    padding: 16px;
}
.left-section{
    order: 1;
   
}
button{
    margin-top: 15px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    background-color: #85cbcc;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}
button:hover{
    cursor: pointer;
}
.main-image{
    height: 300px;
    width: 500px;
    order: 1;
}
.banner{
    max-width: 100%;
    max-height: 100%;
}
.main-text{
    min-width: 500px;
    text-align: justify;
    text-justify: inter-word;
}
.main-text p{
    text-indent: 32px;
}

.info-two h2{
    text-align: center;
    padding-top: 20px;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    
}
.info{
    max-width: 200px;
    text-align: justify;
}
.info p{
    text-indent: 15px;
}
.info img{
    border: 3px solid #85cbcc;
    border-radius: 10px;
    object-fit: cover;
    width: 200px;
    height: 200px;  
}

.two-three{
    background-image: linear-gradient(0deg, #A8DEE0, #FFFFFF);
}
.info-three{
    padding: 100px;
}
.quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-three p{
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    font-style: italic;
}
.author{
    align-self: flex-end;
    margin-right: 10%;
}
.info-three h3{
    margin: 0;
    padding: 0;
}

.info-four{
    padding: 30px;
}
.action{
    background-color: #85cbcc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    padding: 20px 10px;
    margin: 0 70px;
}
.action p{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.action .bolder-text{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.action button{
    border: 2px solid white;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 12px;
    background: linear-gradient(0deg, rgba(251,199,141,1) 35%, rgba(249,226,174,1) 100%);
    
}